## Target- urgent withdrawn by nurse(within 24hr)
* shift_applications status == 'cancelled' + shift_application prevStatus == 'confirmed'


### IDs -> only look at shifts application, leave each shifts after
* shift_applications id
* shift_applications user_id
* shift_applications shift_id


### Numeric Field
* shifts rate
* shifts net_pay: rate - nursedash profit
* shift_applications distance
* shift break time


### S_Create (shift created) => SA_Create (application created) => CWTime (comfim withdrawn) => Start_Time (shift start)
* S_Create: shift create time
* SA_Create: shift application create time
* CW_Time_US -> CWTime: shift withdrawn time, whole confirmed withdrawn population (include within 24hr and > 24hr)
* Start_Time: shift start time
##### calculated field, graph in seconds, mins, hours
* S_Create2SA_Create: shift application create time - shift create time
* S_Create2CW_Time: shift withdrawn time - shift create time
* S_Create2Start_Time: shift start time - shift create time
* SA_Create2CW_Time: shift withdrawn time - shift application create time
* SA_Create2Start_Time: shift start time - shift application create time
* shift withdrawn time -> CW_Time2Start_Time: shift start time - shift withdrawn time


### Categorical
* shifts role: position name + type
* facilities name = facilities short_name
* facilities areaId = facilities areaName
* withdrawnInfo_key, withdrawnInfo_value
* facilities segmentName: Senior Living = 1, Healthcare = 0


### ?
* facilities allowedQualification
* facilities createdAt
* facilities rates
* nurse shift withdrawn by admin, when policy start, how many withdrawn by admin
* shifts = unit
* role
* user age on platform: dont have -> talk to avro

In [1]:
import pandas as pd

In [2]:
ls

Untitled.ipynb  facility.csv    nursedash.Rmd   shift.csv       user.csv

In [5]:
df = pd.read_csv('target.csv')
df

,id,user_id,shift_id,status,prevStatus,id.1,role,assigned_nurse_id,rate,net_pay,...,CW_Time_US,CW_Time2Shift_Hr,CW_Time2Shift_HR_Group,areaId,areaName,rating,reliabilityScore,reliabilityRating,withdrawnInfo_key,withdrawnInfo_value
0,161056,8095,114305,confirmed,selected,114305,Skilled Nursing / STNA,8095.0,22.0,17.0,...,NaN,NaN,49 Hrs+,2,Northeast Ohio,4.2,35,Neutral,NaN,NaN
1,161164,10304,115392,cancelled,confirmed,115392,Assisted Living / STNA,NaN,21.5,16.5,...,2021-03-08 10:31:12.904000,36.479722,25-48 hrs,2,Northeast Ohio,4.3,32,Neutral,NaN,NaN
2,166442,3848,114306,selected,applied,114306,Skilled Nursing / STNA,NaN,22.0,17.0,...,NaN,NaN,49 Hrs+,2,Northeast Ohio,3.4,7,Poor,NaN,NaN
3,164621,9428,117757,confirmed,selected,117757,Assisted Living / STNA,9428.0,21.0,15.5,...,NaN,NaN,49 Hrs+,2,Northeast Ohio,4.5,75,Great,NaN,NaN
4,164428,14002,117698,cancelled,confirmed,117698,Skilled Nursing / CNA,NaN,18.0,13.0,...,2021-03-03 14:52:22.362000,152.127222,49 Hrs+,1,Houston,5.0,4,Poor,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18091,152530,5478,108112,unavailable,applied,108112,Skilled Nursing / CNA,NaN,19.5,14.0,...,NaN,NaN,49 Hrs+,1,Houston,4.2,74,Great,NaN,NaN
18092,152368,11779,108112,applied,NaN,108112,Skilled Nursing / CNA,NaN,19.5,14.0,...,NaN,NaN,49 Hrs+,1,Houston,4.8,39,Neutral,NaN,NaN
18093,151481,14743,108117,confirmed,selected,108117,Skilled Nursing / CNA,14743.0,19.5,14.0,...,NaN,NaN,49 Hrs+,1,Houston,4.7,84,Great,NaN,NaN
18094,151932,11103,108113,confirmed,selected,108113,Skilled Nursing / CNA,11103.0,19.5,14.0,...,NaN,NaN,49 Hrs+,1,Houston,4.4,59,Good,NaN,NaN
18095,151516,12186,108117,unavailable,applied,108117,Skilled Nursing / CNA,14743.0,19.5,14.0,...,NaN,NaN,49 Hrs+,1,Houston,4.6,71,Great,NaN,NaN

In [15]:
df['tar'] = df.apply(lambda x: 1 if x['status'] == 'withdrawn' and x['prevStatus'] == 'confirmed' and x['withdrawnInfo_value'] == 'nurse' else 0, axis =1)

In [16]:
tar.value_counts()

0    16854
1     1242
dtype: int64