In [29]:
import pandas as pd
import numpy as np
df = pd.read_csv('model_data.csv').drop(columns = ['Unnamed: 0'])

In [31]:
df

,prev_CW/SA_rate,S_create2SA_Create,S_Create2Start_Time,SA_Create2Start_Time,U_create2now,U_approve2now,type_d,segmentName_d,net_pay,distance,target
0,0.000000,0.024444,217.047500,217.023056,31.272810,24.076044,2,0,11.0,NaN,0
1,0.000000,0.034444,19.714444,19.680000,31.272810,24.076044,2,0,45.0,NaN,0
2,0.000000,0.011111,0.019167,0.008056,31.272810,24.076044,2,0,45.0,NaN,0
3,0.000000,0.031667,183.788611,183.756944,31.272810,24.076044,2,1,40.0,NaN,0
4,0.000000,6.073056,18.681111,12.608056,31.272810,24.076044,2,0,45.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
167718,0.666667,197.229722,240.713333,43.483611,0.159435,0.096586,0,1,18.0,39929.0,0
167719,0.500000,0.144722,17.701111,17.556111,0.159435,0.096586,0,1,14.0,11252.0,0
167720,0.000000,68.506389,96.981944,28.475556,0.104826,0.076095,1,1,32.0,60926.0,0
167721,0.000000,68.506389,96.981944,28.475556,0.104826,0.076095,1,1,32.0,60926.0,0
167722,0.000000,13.711389,17.736389,4.025000,0.104826,0.076095,1,1,26.5,54681.0,0

In [32]:
# make a dataset that num of tar = num of non tar
import random
df_tar = df[df['target']==1]
df_nontar = df[df['target']==0]

number_of_tar = df_tar.shape[0]
random_indices = random.sample(range(len(df_nontar)), int(number_of_tar))
df_nontar = df_nontar[df_nontar.index.isin(random_indices)]

# concat
df = pd.concat([df_tar, df_nontar])

In [33]:
df.dropna(inplace = True) # If True, do operation inplace and return None.

In [34]:
# scale
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(df.drop('target',axis=1))
scaled_features = scaler.transform(df.drop('target',axis=1))

X = pd.DataFrame(scaled_features,columns=df.columns[:-1])
y = df['target']

# train test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                    test_size=0.30)

# Decision Trees

In [35]:
# fit
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(X_train,y_train)

DecisionTreeClassifier()

In [36]:
# predict
predictions = dtree.predict(X_test)
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,predictions))
print('\n')
print(classification_report(y_test,predictions))

[[255 187]
 [178 352]]


              precision    recall  f1-score   support

           0       0.59      0.58      0.58       442
           1       0.65      0.66      0.66       530

    accuracy                           0.62       972
   macro avg       0.62      0.62      0.62       972
weighted avg       0.62      0.62      0.62       972

## Random Forests

In [37]:
# fit
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=100)
rfc.fit(X_train, y_train)

RandomForestClassifier()

In [38]:
# predict
rfc_pred = rfc.predict(X_test)

In [39]:
print(confusion_matrix(y_test,rfc_pred))
print('\n')
print(classification_report(y_test,rfc_pred))

[[269 173]
 [126 404]]


              precision    recall  f1-score   support

           0       0.68      0.61      0.64       442
           1       0.70      0.76      0.73       530

    accuracy                           0.69       972
   macro avg       0.69      0.69      0.69       972
weighted avg       0.69      0.69      0.69       972